###################
#### Required #####
###################

SUPABASE_URL=
SUPABASE_ANON_KEY=

SUPABASE_JWT_SECRET=

###################
#### Optional #####
###################

IGNORE_TS_CONFIG_PATHS=
TAMAGUI_TARGET=
TAMAGUI_DISABLE_WARN_DYNAMIC_LOAD=
