@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 255, 255, 255;
  --text-color: #3f3f3f;
  --primary-color: #fece5d;
  --active-tab-bg-color: #f6f4ed;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.tab-item {
  position: relative;
  padding-bottom: 10px; /* Adjust as needed */
}

.tab-item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 1px;
  left: 32%;
  width: 35%;
  height: 3px;
  background-color: var(--primary-color);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tab-item[data-active="true"] {
  background-color: var(
    --active-tab-bg-color
  ); /* Apply red background when active */
}

.tab-item[data-active="true"]::after {
  opacity: 1;
}

.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
  );
}

.modal-center {
  position: fixed; /* Use fixed positioning */
  top: 50%; /* Position at the center vertically */
  left: 50%; /* Position at the center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Offset the div by half of its width and height */
  width: 300px; /* Set a width for your modal */
  height: auto; /* Auto height based on content */
  background-color: white; /* Background color */
  border-radius: 20px; /* Optional: for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: for box shadow */
  padding: 30px; /* Optional: for internal spacing */
  z-index: 1000; /* Ensure it's above other elements */
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.menuTab-enter {
  animation: slideUp 0.5s ease forwards;
}

.menuTab-exit {
  animation: slideDown 0.5s ease forwards;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 1rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
  }
}
